.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* custom css start */
.custom-b-newsletter{
  background-color: #E65239;
}
.c-btn-color{
  color:oldlace;
  font-weight: bolder;
  background-color: #175ee293;
}

.price-color{
  color: black;
  font-weight: 600;
}
.r-image{
  background-color:#F6F6F6;
  border-radius:1rem;
}
.text-clr-tomato{
  color:orangered;
  font-size: 38px;
}

h1, h2, h3, h4, h5, h6, small {
  font-family: 'Goldman', cursive;
  letter-spacing: 1px;
  font-size:18px;
}
small{
  letter-spacing: 1px;
}
ul li {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}
/* custom css end */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


